<!doctype html>
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-plus"></span> Add Item</h1>
     <!-- if there is a warning message from previously trying to submit an empty item, then display this message-->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <!-- ADD ITEM FORM -->
    <form action="/api/add-item" method="post">
        <div class="form-group">
            <label>Item</label>
            <input type="text" class="form-control" name="item">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Add</button>
    </form>

</div>

</div>
</body>
</html>