<!doctype html>
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="page-header text-center">

    <h1>My List</h1>
</div>
<div class="col-sm-6 col-sm-offset-3">

    <!-- Display Items -->
<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Item</th>
        <th>Is Done?</th>
      </tr>
    </thead>
    <% for(var i=0; i < toDoList.length; i++) { %>
    <!-- If an item is marked as Done, then make the table cell for that item green. else make it yellow-->
        <% if(toDoList[i].isDone) { %>
        <tr class="success">
        <% }else { %>
        <tr class="warning">
        <% } %>
            <td><b><%= toDoList[i].item %></b></td>
            <!-- If an item is marked as Done, then set "Done" as the button text, and when its clicked change the state from Done to not finished, else vise versa-->
            <td><a href="/api/update/<%= toDoList[i].id %>/<%= !toDoList[i].isDone %>" class="btn btn-warning btn-sm">
            
            <% if(toDoList[i].isDone) { %>
            Done
            <% }else { %>
            Not Finished
            <% } %></a></td>
            <td><a href="/api/remove/<%= toDoList[i].id %>" class="btn btn-danger btn-sm">Remove</a></td>
        </tr>
    <% } %>
</table>

<a href="/api/add-item" class="btn btn-default btn-sm">Add Item</a>
<a href="/logout" class="btn btn-default btn-sm">Logout</a>
</div>

</div>
</body>
</html>