﻿
@using ToDo.Models;
@{
    ViewBag.Title = "ViewList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{  ToDoList[] toDoList = (ToDoList[])ViewData["todoList"];}


<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="page-header text-center">

            <h1>My List</h1>
        </div>
        <div class="col-sm-6 col-sm-offset-3">

            <!-- Display Items -->
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Item</th>
                        <th>Is Done?</th>
                    </tr>
                </thead>
                @for (var i = 0; i < toDoList.Length; i++) {
                    string itemStatus = "";
                <text>
                <!-- If an item is marked as Done, then make the table cell for that item green. else make it yellow-->
                @if (toDoList[i].IsDone)
                {
                    itemStatus = "success";

                } else
                {
                    itemStatus = "warning";
                }
                
            <tr class=@itemStatus>


                <td><b>@toDoList[i].Item</b></td>
                <td>
                    
                    <!-- If an item is marked as Done, then set "Done" as the button text, and when its clicked change the state from Done to not finished, else vise versa-->
                        @if (toDoList[i].IsDone)
                        {
                            
                            <button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Update", "ToDoList",new { id = toDoList[i].id, isDone = false })';return false;">Done</button>
                        }
                        else
                        {
                            
                            <button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Update", "ToDoList",new { id = toDoList[i].id, isDone = true })';return false;">Not Finished</button>
                        }
                    
                </td>
                <td><button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Remove", "ToDoList",new { id = toDoList[i].id})';return false;">Remove</button></td>
            </tr>

                </text>
                }
            </table>

            <a href="/ToDoList/AddItem" class="btn btn-default btn-sm">Add Item</a>
            
        </div>

    </div>
</body>
</html>

