﻿@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">


            <h1>To-Do List APP</h1>

            <p>Login or Register</p>

            <a href="/Account/Login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="Account/Register" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        </div>

    </div>
</body>

</html>